
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
      <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0 font-size-18">Chat</h4>
              <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                      <ng-container>
                          <li class="breadcrumb-item"><a href="javascript: void(0);">Chat</a>
                          </li>
                          <li class="breadcrumb-item active">Chat
                          </li>
                      </ng-container>
                  </ol>
              </div>
          </div>
      </div>
  </div>
  <!-- end page title -->
  <!-- start video playlist -->
  <div class="row">
    <div class="col-12">
      <div class="page-chat d-flex align-items-left">
          <!-- <iframe [src]='safeURL' width="560" height="315" frameborder="0" allowfullscreen></iframe> -->
          <iframe id="chat-discord" width="100%" height="100%" [src]='safeURL' title="Chat Info" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
          <!-- <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
          <widgetbot
              server="471521558989504531"
              channel="472119292427501568"
              shard="https://emerald.widgetbot.io"
              width="800"
              height="600"
          ></widgetbot> -->

      </div>
    </div>
  </div>
</div> <!-- container-fluid -->
