.full-bg {
  background-image: url("../../../assets/images/coming-soon/divergance.png"); /* Adjust the path to your image file */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 70px); /* Subtracting the height of the top bar */
}
